body {
    background-color: #8dc63f;
    font-family: "Arial"; 
    margin: 0;
}
.wrapper{
    background-color: #ffffff;
    margin: auto;
    max-width: 960px;
    padding: 0px 15px 0px 15px;
}

.header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.logo p{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.logo {
    display: flex;
    justify-content: space-around;
    color: #39930d;
}

.logo strong{
    color: #39930d;
    font-weight: bold;
    font-size: 44px;
}

.logo i{
    color: #5a5a5a;
    font-style: italic;
    font-size: 14px;
}

.picture{
    margin: 0 35px;
}

.tel i {
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
    padding-top: 11px;
}

.tel p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.tel a {
    font-size: 22px;
    color: #39930d;
    text-align: right;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.field img {
    width: 100%;
}

.main{
    display: flex;
    justify-content: space-around;
    column-gap: 58px;
   
}

.main-info{
    
    padding-bottom: 47px;
}

.main-info h1 {
    font-size: 24px;
    line-height: 7px;
    color: #39930d;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
}

.main-info p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;

}
.link{
    padding-left: 10px;
}


.link p{
    background-color: #39930d;
    min-width: 300px;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    padding: 12px 20px;
}
.link ul {
    list-style: none;
    padding: 0 22px;
}

.link li:hover > a {
    color: #fff;
    background-color: #39930d;
}

.link a {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
    transition: all 1s ease;
    display: block;
}

.footer{
    background-color: #39930d;
    margin: auto;
    padding: 20px 15px;
    width: 960px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
}